body{
margin:0;
background:#0b0b0b;
color:white;
font-family:Arial;
}

.nav{
display:flex;
justify-content:space-between;
padding:20px;
background:#111;
}

.menu a{
margin-left:20px;
text-decoration:none;
color:white;
}

.hero{
text-align:center;
margin-top:120px;
}

.hero h1{
font-size:56px;
}

.hero p{
margin-top:20px;
font-size:18px;
}

.buttons{
margin-top:40px;
}

.buttons a{
padding:12px 30px;
border:1px solid white;
margin:10px;
text-decoration:none;
color:white;
}

.container{
max-width:900px;
margin:100px auto;
text-align:center;
}

code{
background:#111;
padding:8px 12px;
display:inline-block;
margin-top:10px;
}